@page "/personSearch"
@attribute [StreamRendering]

<br />
<br />

<div class="container">
    <h3>Cadastro de Pessoa</h3>
</div>

<br />
<br />

<div class="container">
    <form>
        <div class="form-row align-items-justify">
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="search" placeholder="Pesquise por Nome">
                </div>
                <br />
                <div class="col-sm-2">
                    <button type="submit" @onclick="@Search" class="btn btn-primary mb-2">Buscar</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" @onclick="()=>Search()" class="btn btn-primary mb-2">Adicionar</button>
                </div>
            </div>
        </div>

        @if (People.Count > 0)
        {
            <div class="card-header">
                Lista de clientes
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in People)
                        {
                            <tr>
                                <td>@person.Id</td>
                                <td>@person.Name</td>
                                <td>@person.BirthDate</td>
                                <td>
                                    <div class="hstack gap-2">
                                        <button class="btn  btn-info"> Edita</button>
                                        <button class="btn  btn-danger"> Deleta</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info"> Zero Registros </div>
        }
    </form>

</div>

@code {
    private List<People> People { get; set; } = new();

    private People? person { get; set; }

    private async Task LoadPeople()
    {
        var people = await peopleService.GetAll();

        if (People == null) return;


        foreach (var person in people)
        {
            People.Add(person);
        }
    }

    private async Task Search()
    {
        await LoadPeople();
    }


}